

<div class = "category-selector-container">
    <mat-card class = "inner-category-selector-container">
        <mat-card-content>
            <h3>Welcome, {{ displayName }}</h3>
            <p> Select a category.</p>

            <div class = "category-buttons">
                <button mat-raised-button>JavaScript</button>
                <button mat-raised-button>TypeScript</button>
                <button mat-raised-button>Angular</button>
                <button mat-raised-button>HTML/CSS</button>
                <button mat-raised-button>Front-end development</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>