@import '../../../../styles/positioning.scss';

.category-selector-container {
    @include vert-hor-centered-box;
    height: 100vh;
    background: lightsteelblue;
}

.category-buttons {
    button {
        margin-right: 1rem;
        margin-top: 1rem;
    }
}



